:root {
    --main-font: "Poppins", Arial, sans-serif;
}

body {
    font-family: var(--main-font);
}

#viewport {
    display: flex;
    flex-wrap: wrap;
}

.titles {
    outline: solid black 2px;
    margin: 5px;
    padding: 5px;
}

#main {
    width: 50%;
    height: 250px;
}

#viewframe {
    outline: solid black 1px;
    margin: 10px;
    padding: 5px;
    height: 200px;
}

#inventory {
    width: 50%;
    height: 250px;
}

#flex-layout {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 215px;
}

.items {
    display: flex;
    outline: solid black 1px;
    margin: 5px;
    padding: 5px;
    width: 100%;
}

#interaction {
    width: 50%;
    height: 250px;
}

#dialog-context-box {
    outline: solid black 1px;
    margin: 5px;
    height: 150px;
}

#accept {
    font-family: var(--main-font);
    color: white;
    background-color: green;
    width: 49%;
}

#decline {
    font-family: var(--main-font);
    color: white;
    background-color: red;
    width: 49%;
}

#stats {
    width: 50%;
    height: 250px;
}

#stats-info {
    outline: solid black 1px;
    margin: 5px;
    padding: 5px;
    height: 115px;
}

#stat-info-box {
    width: 100%;
}